@model SalesWebMVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Erro no processamento da requisição.</h2>
<h2 class="text-danger">@Model.Messsage</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de desenvolvimento</h3>
<p>
    Trocar para o modo de <strong>desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado em aplicativos em produção</strong>, pois pode resultar na exibição de informações confidenciais de exceções aos usuários finais. Para depuração local, o ambiente de desenvolvimento pode ser habilitado configurando a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong>variável de ambiente para <strong>Desenvolvimento</strong>, e reinicialize a aplicação.
</p>
